<div class="homepageContainer">
    <div class="homeImgFrame">
        <img class="homeImg" src="{{posterimg1}}">
    </div>

    <app-item-card></app-item-card>


<!-- 
    <diV class="homepageContainerText1">
        <div>
            <b class="homeTextHighLight">一人一信</b>
        </div>
        <h1>
            <b>反對邀請香港警察出席任何國際活動</b>
        </h1>
    </diV>
    <diV class="homepageContainerText1">
        <input class="homepageTakeAction" type="text" placeholder="Enter your postal code">
        <button class="homepageTakeActionBtn">
            <b>Take action</b>
        </button>
    </diV>

    <div>
        <h1>
            <b>How it works</b>
        </h1>
        <div class="howItWorkContainer">
            <div class="howItWorkItem">
                <div class="howItWorkDot">
                    <b>
                        1
                    </b>
                </div>
                <h2 class="howItWorkText">Enter your postal code</h2>
            </div>
            <div class="howItWorkItem">
                <div class="howItWorkDot">
                    <b>
                        2
                    </b>
                </div>
                <h2 class="howItWorkText">Find your Member of Parliament</h2>
            </div>
            <div class="howItWorkItem">
                <div class="howItWorkDot">
                    <b>
                        3
                    </b>
                </div>
                <h2 class="howItWorkText">Email them with our templates</h2>
            </div>
        </div>
    </div> -->

    <div [style]="">

    </div>
    <diV class="homepageContainerText2">
        <h4>
            💛 Rest assure! We don’t store your data 💛
        </h4>
        <h5 [style.color]="'var(--dark)'">
            description about the technology we’re using?
        </h5>
    </diV>

</div>