<div class="itemCard">
    <div class="itemCardHeader">
        <b>
            {{content.name}}
        </b>
    </div>
    
    <div class="itemCardBody">
        <div class="itemCardImageFrame">
            <img [src]="content.image">
        </div>
        <div class="itemCardGrid" *ngFor="let x of content|keyvalue">
            <a>
                {{x.key}}
            </a>
            <a [style]="'overflow: hidden;text-overflow: ellipsis;height: 2ch;'">
                {{x.value}}
            </a>
        </div>
    </div>
    <div class="itemCardBack">
        <button>sasd</button>
        <button>sasd</button>
        <button>sasd</button>
    </div>
</div>