.itemCard {
    position: relative;
    overflow: hidden;

    border-radius: 1vmin;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: var(--seaSick);
    color: var(--dark);

    animation-duration: 4s;
    transition: 0.25s, width 0s;
    /*  */
    /* max-height: var(--imgL); */
}

.itemCardHeader {
    display: grid;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main);
    color: var(--mainText);
    padding-left: 2%;
}

.itemCardBody {
    /* display: flex; */
    padding: 2%;
    min-height: var(--imgM);
}

.itemCardGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: scroll;
    text-overflow: ellipsis;
    /* height: 100%; */
}
.itemCardImageFrame{
    width: var(--imgM);
    height: var(--imgM);
    overflow: hidden;
    display: flex;

}
.itemCardImage{
    width: 100%;
    height: auto;
}